<%= image_tag("project_logo.png", class: "project_logo") %>
<div class="main-container">
  <header class="login-header align-flex">
    <h1 class="project-title"><b>Regístrate</b></h1>
  </header>
  <div class="signin-container align-flex">
    <div class="text-left">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
        <div class="align-flex signin-container">

          <div class="field">
            <%= f.text_field :email, autofocus: true, class: "input-field", placeholder:"E-mail" %>
          </div>

          <div class="field">
            <%= f.text_field :name, class: "input-field", placeholder:"Nombre completo" %>
          </div>

          <div class="field">
            <%= f.password_field :password, autocomplete: "off", class: "input-field", placeholder:"Contraseña" %>
          </div>
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> caracteres mínimo)</em>
            <% end %><br /> 
          <div class="field">
            <%= f.password_field :password_confirmation, autocomplete: "off", class: "input-field", placeholder:"Confirmar contraseña" %>
          </div>

          <div class="actions">
            <%= f.submit "Sign up", class: "button main-button" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<%= link_to "¿Ya tienes cuenta? Inicia sesión aquí", new_user_session_path, class: "IniciarSes" %>
