<div class="image-hot-project">
  <%= image_tag("proyect_o.png", class: "hot-project") %>
</div>
<div class="row">
<<<<<<< HEAD
  <div class="align-flex signin-container newprojectimage">
    <%= image_tag("index-background.png", class: "imagenprinc2") %>
  </div>
  <div class="newprojectform">
    <%= form_for @project do |f| %>
      <div> <%= f.label :Nombre_del_proyecto %> </div>
      <%= f.text_field :name %> 
      <br>

      <div> <%= f.label :Capacidad_M치xima %> </div>
      <%= f.number_field :max_capacity %> 
      <br>

      <div> <%= f.label :Descripci칩n %> </div>
      <%= f.text_area :description, rows: 4, cols: 50 %> 
      <br>

      <div> <%= f.label :Status %> </div>
      <%= f.select :description, status_combo %> 
      <br>

      <div> <%= f.label :Fecha_de_inicio %> </div>
      <%= f.date_select :start_date %> 
      <br>

      <div> <%= f.label :Fecha_de_fin %> </div>
      <%= f.date_select :end_date %> 
      <br>
      
      <div> <%= f.label :Perfil_deseado_de_los_miembros %> </div>
      <%= f.text_area :description, rows: 4, cols: 50 %> 
      <br>

      <div> <%= f.submit "Crear", class: "create-project" %> </div>
      <br>
    <% end %>
  </div>
=======
        <span style="float:left;width: 50%;">
        	<div class="align-flex signin-container newprojectimage" style="float: left; display:inline-block">
				<%= image_tag("index-background.png", class: "imagenprinc2") %>
			</div>
		</span>
        <div style="float: right">
            <form>
            	<font size="5">
            	Nombre del Proyecto:<br>
  				<input type="text" name="proname">
  				<br>
  				Capacidad M치xima:<br>
  				<input type="text" name="capamax">
  				<br>
  				Descripci칩n:<br>
  				<textarea rows="4" cols="40"></textarea>
  				<br>
  				Status:<br>
  				<select>
				  <option value="open">Abierto</option>
				  <option value="oncourse">En Curso</option>
				  <option value="close">Cerrado</option>
				</select>
				<br>
				Fecha de Inicio:<br>
  				<input type="date" name="fechainic">
  				<br>
  				Fecha de Clausura:<br>
  				<input type="date" name="fechafin">
  				<br>
  				Perfil de los Miembros Deseados:<br>
  				<textarea rows="4" cols="40"></textarea>
  				<br>
  			</font>
            </form>
            <button style="height:50px;width:100px;background-color: #4CAF50; color: white;display: inline-block;font-size: 16px;margin: 4px 2px" type="button">Registrar</button>
        </div>
>>>>>>> 6612a1f57385fcc2c6d719b573fd5c8ea23051fa
</div>

