<div class="image-hot-project">
  <%= image_tag("proyect_o.png", class: "hot-project") %>
</div>
<div class="row">
  <div class="align-flex signin-container newprojectimage">
    <%= image_tag("index-background.png", class: "imagenprinc2") %>
  </div>
  
  <div class="newprojectform">
    <%= form_for @project do |f| %>
      <div> <%= f.label :Nombre_del_proyecto %> </div>
      <%= f.text_field :name, class: 'nameinput' %> 
      <br>

      <div class="seccion"> <%= f.label :Capacidad_Máxima %> </div>
      <%= f.number_field :max_capacity %> 
      <br>

      <div class="seccion"> <%= f.label :Descripción %> </div>
      <%= f.text_area :description, rows: 4, cols: 50 %> 
      <br>

      <div class="seccion"> <%= f.label :Status %> </div>
      <%= f.select :status, status_combo %> 
      <br>

      <div class="seccion"> <%= f.label :Fecha_de_inicio %> </div>
      <%= f.date_select :start_date %> 
      <br>

      <div class="seccion"> <%= f.label :Fecha_de_fin %> </div>
      <%= f.date_select :end_date %> 
      <br>
      
      <div class="seccion"> <%= f.label :Perfil_deseado_de_los_miembros %> </div>
      <%= f.text_area :profile, rows: 4, cols: 50 %> 
      <br>

      <div style="text-align:center"> <%= f.submit "Crear", class: "create-project" %> </div>
      <br>
    <% end %>
  </div>
</div>

