<div>
  <div> Nombre del Proyecto</div>
  <div><%= @project.name %></div>
  <div> Capacidad del proyecto</div>
  <div><%= @project.max_capacity %></div>
  <div> Descripcion del proyecto</div>
  <div><%= @project.description %></div>
  <div> Fecha de inicio del Proyecto</div>
  <div><%= @project.start_date %></div>
  <div> Fecha del fin del Proyecto</div>
  <div><%= @project.end_date %></div>
  <div> Perfil deseado del participante </div>
  <div><%= @project.profile %></div>



</div>