<%= image_tag("project_logo.png", class: "project_logo") %>
<div class="main-container">
  <header class="login-header align-flex">
    <h1 class="project-title"><b>¡Bienvenido!</b></h1>
  </header>
  <div class="signin-container align-flex">
    <div class="text-left">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>
        <div class="align-flex signin-container">
          <div class="field">
            <%= f.text_field :email, autofocus: true, class: "input-field", placeholder:"Correo" %>
          </div>
          <div class="field">
            <%= f.password_field :password, autocomplete: "off", class: "input-field password-field", placeholder:"Contraseña" %>
          </div>
          <% if devise_mapping.rememberable? -%>
            <div class="field check">
              <%= f.check_box :remember_me, class: "check" %>
              <%= f.label :recuerdame, class: "main-label" %>
            </div>
          <% end -%>
          <div class="actions">
            <%= f.submit "Iniciar sesión", class: "button main-button" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<%= link_to "Crea una cuenta", new_user_registration_path, class: "Registration" %>
